@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-gray-200;
  width: 10px;
}


body *::-webkit-scrollbar {
  background-color: black;
  width: 5px;
}

body *::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  width: 5px;
}

textarea::-webkit-scrollbar {
  width: 3px;
}

::selection {
  background-color: rgb(50, 50, 50);
  color: white;
}